@import url('https://fonts.googleapis.com/css?family=Merriweather');
body {
    font-family: Merriweather;
    color: white;
}

/* ---- Background imagery -------- */

.bg-image {
    vertical-align: middle;
    border-style: none;
    width: 100vw;
    position: fixed;
    height: 100vh;
    z-index: -999;
    opacity: 0.7;
}


/* ------------ Navbar Styles */

#sidebar {
    width: 247px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 5;
    color: #fff;
    transition: all 0.3s;
    padding: 15px;
}

#sidebar.active {
    margin-left: -250px;
}

.sidebar-header {
    padding-top: 175px;
    padding-bottom: 60px;
    text-align: center;
}

.nav-card {
    background-color: #707070;
    text-align: left;
    padding: 35px;
    border-radius: 35px;
}

.fa-info {
    padding-left: 15px;
    color: wheat;
}

.info-div {
    height: 75px;
    width: 75px;
    border-radius: 75px!important;
    padding-top: 35px;
    padding-left: 75px;
}


.info-img {
    height: 75px;
    width: 75px;
    border-radius: 50px;


}



.list-unstyled {
    text-decoration: none;
}

.active {
    background-color: #B7A355;
    padding: 2px;
}

.nav-anchor {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.li {
    padding-top: 5px;
}


/*Top nav Mobile -------------------------*/

.topnav {
    background-color: #333;
    overflow: hidden;
    z-index: 9999;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* -----------------    Main Content ------ */

#content {
    width: calc(100% - 250px);
    padding: 40px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}

.data-card {
    background: #707070;
    margin-top: 65px;
    padding: 15px 10px 25px 10px;

}

h5 {
    padding-left: 20px;
}

p {
    padding: 15px 20px 8px 20px;
    color: wheat;
}

g text {
    color: wheat;
}

#charinfo1 .popover {
    width: 45vw;
    height: 45vh;
}

.modal a.close-modal {
    top: 0;
    right: 0;
}

.modal {
    background-color: #707070;
}

/*-------------------------------------- Books information styling */

.data-header {
    color: white;

}

#race-selector {
    padding-left: 415px;
    font-size: 18px;
    display: inline;
    text-align: right;
}


#wordsByChar g.axis.x text {
    transform: rotate(-45deg) translate(-40px, 0px);

}

#race-graph {
    padding-left: 20px;
}


/*-------------------------------- Movie Data styling*/

#movie-profits g.axis.x text {
    transform: rotate(-45deg) translate(-60px, 0px);
}

#movie-budget g.axis.x text {
    transform: rotate(-45deg) translate(-60px, 0px);
}

#movie-scores g.axis.x text {
    transform: rotate(-45deg) translate(-60px, 0px);
}

#academy-wins g.axis.x text {
    transform: rotate(-45deg) translate(-60px, 0px);
}

ul {
    color: wheat!important;
}

/*----------------------------------- Char list styling*/

#list {
    padding-left: 250px;
}

td,
th {
    padding: 1px 4px;
    border: 1px solid white;
    color: wheat;
}


/*-------------------------------------- Media Queries */

@media (min-width: 1025px) {
    #race-graph {
        padding-left: 400px;
    }
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    body {
        background-color: #333;

    }
    #content {
        width: 100%;
        padding: 15px;
        min-height: 100vh;
        transition: all 0.3s;
        position: absolute;
        top: 0;
        right: 0;
    }

    #book g.axis.x text {
        transform: rotate(-45deg) translate(-40px, 0px);

    }
    #list {
        padding: 0;
    }

    td,
    th {
        padding: 1px 4px;
        border: 1px solid white;
        color: wheat;
        float: left;
    }
}
